body {
  background-color: #d3d3d3;
}

#map {
  height: 400px;
  width: 400px;
}

#slider {
  font-family: sans-serif;
  margin: auto;
  margin-top: 200px;
  background-color: white;
  max-width: 1500px;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  text-align: center;
}

#slider-p {
  font-family: sans-serif;
  margin: auto;
  max-width: 1500px;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  text-align: center;
  font-size: 40px;
  color: #fff;
}

#slider > ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

#slider > ul.slider {
  position: relative;
  max-width: 1280px;
  width: 100%;
  height: 500px;
}

#slider > ul.slider h1 {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px;
  left: 50%;
  top: 100px;
  transform: translate(-50%, -50%);
}

#slider > ul.slider li {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  width: inherit;
  height: inherit;
  transition: opacity 0.5s;
  background: #fff;
}

#slider > ul.slider li img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

#slider > ul.slider li:first-child {
  opacity: 1; /*Mostramos el primer <li>*/
}

#slider > ul.slider li:target {
  opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}

#slider > .menu {
  text-align: center;
  margin: auto;
  width: 100px;
  background: none;
}

#slider > .menu li {
  display: inline-block;
  text-align: justify;
}

#slider > .menu li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: grey;
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%;
}
