.position-absolute {
  position: absolute;
}
.products-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  height: 75vh;
  background: none;
  width: 600px;
  border-radius: 3px;
  padding: 10px 20px;
  z-index: 15;
  align-items: center;
  overflow-y: auto;
  animation: display 1.5s 1;
}
.overflow-y-none {
  overflow-y: none;
}

.products-wrap {
  margin-top: 15px;
  height: 90vh;
}

.product {
  background: #0a66b1;
  border: 1px solid #5185f5; /*#ebfaba*/
  border-radius: 15px;
  margin: 10px;
  margin-top: 20px;
  padding: 10px 20px;
  display: block;
  width: 500px;
  align-items: center;
  color: #fff;
}

.product img {
  width: 200px;
  margin-bottom: 10px;
  margin-right: 25px;
}

.product .description {
  margin: 5px 0;
  font-size: 14px;
  line-height: 22px;
  font-weight: 200;
}

.h3-container {
  border-bottom: 1px solid #fff;
  width: 90%;
  margin-left: 5px;
}

.h3-container h3 {
  color: #fff;
}

.close-icon {
  width: 35px;
  cursor: pointer;
}

.hidden {
  display: none;
}

@keyframes display {
  0% {
    right: -15%;
  }
  100% {
    right: 0.1%;
  }
}

#map {
  height: 400px;
  width: 400px;
  position: absolute;
  top: 200px;
  margin-left: 15px;
}
