.search-list {
  display: flex;
  flex-wrap: wrap;
}

.products-search {
  background: #0a66b1;
  border: 4px solid #000000; /*#ebfaba*/
  border-radius: 10px;
  margin-top: 20px;
  margin: 20px;
  padding: 10px 20px;
  display: flex;
  width: 30vw;
  align-items: center;
  color: #fff;
  cursor: pointer;
}

.product-search__img img {
  width: 200px;
  margin-bottom: 10px;
  margin-right: 15px;
  border-radius: 5px;
}
.product-search__description h3 {
  font-size: 24px;
}

.product-search__description {
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 200;
}


.taller-search__description h3 {
  font-size: 24px;
}

.taller-search__description{
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 200;
}

.search-taller-list {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}
