* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: linear-gradient(to right, rgba(5, 21, 241, 0), #0a66b1);
}

/*--- Barra de navegación ---*/
.menu {
  display: flex;
  background-color: #d2e7fb;
  height: 75px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
  position: relative;
  z-index: 5;
  background-image: url(../imgs/logo3.jpg);
  background-repeat: no-repeat;
  background-size: 150rem;
}
.menu img {
  margin-bottom: 45rem;
}

.logo {
  color: #095dfa;
  font-size: 35px;
  padding: 0 55px; /*Vertical,horizontal*/
  font-weight: bold;
  cursor: pointer;
}

.logo-text {
  color: #f11;
}

.menu__items {
  display: flex;
  list-style: none;
  margin-right: 30px;
}

.menu__items li {
  border-radius: 3px;
  margin: 0 5px;
}

.menu__items li a {
  padding: 7px 13px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  text-transform: uppercase;
  color: #fff;
}

.nav-item:hover {
  background-color: rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

li,
a {
  list-style: none;
  text-decoration: none;
}

/*--- Barra de busqueda ---*/
.search-bar {
  width: 600px;
}

.search {
  border: 3px solid #2b88f3;
  border-right: none;
  padding: 5px;
  margin-left: 0;
  height: 36px;
  width: 92%;
  font-size: 15px;
}

.search:focus {
  color: #000;
  box-shadow: 0 0 5px #4e77cf;
}

.search-bar__sub {
  position: absolute;
  background-color: #2551b1;
  border: 1px solid #000;
  border-top: none;
  height: 230px;
  width: 550px;
  top: 55px;
  left: 39%;
  z-index: 200;
  text-align: center;
}

.search-form-input {
  width: 220px;
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
  border: 1px solid #000;
  color: #333;
}

.sub-close-icon {
  position: absolute;
  margin-top: 5px;
  margin-left: 240px;
  width: 30px;
  cursor: pointer;
}

.search-btn {
  width: 40px;
  height: 36px;
  border: 2px solid #4e77cf;
  background: #4e77cf;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.title {
  z-index: 2;
  position: relative;
  margin-top: 25px;
  margin-left: 50px;
}

.title div {
  justify-content: center;
  text-align: center;
  margin-left: 35%;
}
/*--- Formulario ---*/
hr {
  height: 1px;
  margin-top: 10px;
}

.container {
  display: flex;
}
.form-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;
}

.margin-left {
  margin-left: 30vw;
}

form {
  margin-top: 25px;
  text-align: center;
  position: relative;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 15px;
  margin-bottom: 8px;
}

.btn-suggestions {
  font-size: 15px;
  border: 2px solid #080808;
}
.btn-suggestions:hover {
  background-color: #000000;
  border: #ffffff;
  color: #fff;
}

.form-input,
textarea {
  width: 320px;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid #000;
  color: #333;
}

textarea {
  width: 350px;
  height: 200px;
  resize: none;
}

.error-name {
  color: #f11;
}

.invalid {
  border: 1px solid #f11;
}

form button {
  padding: 10px;
  font-size: 20px;
  background: #000;
  color: #fff;
  border: 1px solid #1a60f6;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
  margin-bottom: 10px;
}

button:hover {
  background-color: #1a60f6;
  border: #000;
  color: #fff;
}

.btn-suggestions:hover {
  background-color: #1a60f6;
  border: #000;
  color: #fff;
}

.hidden {
  display: none;
}

.successful-message {
  display: flex;
  position: relative;
  padding: 40px;
  font-size: 32px;
  text-align: center;
  color: #088f08;
  width: 500px;
}

.normalize-success-name {
  color: #044b04;
  margin-bottom: 5px;
}

.border-succes {
  border: 1px solid #00f300;
}

.mapa-main {
  height: 400px;
  width: 400px;
}