.post-wrap {
  display: flex;
  background: #fff;
  height: 75vh;
  margin: auto 100px;
}

.post-wrap__img img {
  width: 450px;
  height: 510px;
  margin-top: 35px;
  margin-left: 15px;
  border-radius: 5px;
}

.post-wrap__description {
  margin-top: 35px;
  margin-left: 30px;
}
.post-wrap__description hr {
  width: 850px;
}

.post-wrap__description p {
  margin: 15px;
}

#map {
  height: 400px;
  width: 400px;
}

#map-post {
  height: 300px;
  width: 400px;
}
